.main-header {
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: 5vh;
    background-color: #282727;
}

.lock-screen {
    overflow: hidden;
    position: fixed;
}

body {
    margin: 0;
    padding: 0;
}

.main-header h1 {
    width: fit-content;
    margin: auto;
    color: white;
    justify-items: center;
}

.controllers {
    display: flex;
    border: 1px solid black;
    background-color: #323131;
    justify-content: space-between;
    align-items: center;
}

.controller {
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 45vw;
    height: 95vh;
}

.controller:first-of-type p {
    font-size: 20px;
    color: cyan;
    padding-right: 100px;
}

.controller p {
    font-size: 20px;
    color: cyan;
    margin: 0 auto;
    width: fit-content;
}

.up-down {
    display: flex;
}

.left-right {
    display: relative;
}

.path {
    background-color: #3f3d3d;
}

.up-down .path {
    width: 50px;
    height: 510px;
    margin: auto;
    border-radius: 10px;
    position: relative;
}

.up-down .path .ball {
    position: absolute;
    height: 40px;
    width: 40px;
    left: 4px;
    transform: translateY(-50%);
    top: 50%;
    border-radius: 25%;
}

.left-right .path {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 510px;
    height: 50px;
    margin: auto;
    border-radius: 10px;
    position: relative;
}

.left-right .path .ball {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 4px;
    transform: translateX(-50%);
    left: 50%;
    border-radius: 25%;
}

.path .ball {
    background-color: teal;
    pointer-events: none;
}

.path .ball:hover {
    color: cyan;
    -webkit-box-shadow: -7px 3px 69px -1px rgba(0, 255, 255, 1);
    -moz-box-shadow: -7px 3px 69px -1px rgba(0, 255, 255, 1);
    box-shadow: -7px 3px 69px -1px rgba(0, 255, 255, 1);
}

.position {
    margin: 10px auto;
    border: 1px solid black;
    height: 100px;
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    width: 50vw;
}

@media screen and (orientation: landscape) and (min-device-width: 319px) and (max-device-width: 1000px) {
    .controller {
        width: 60vw;
        height: 95vh;
    }

    .controller:first-of-type {
        width: 40vw;
        height: 95vh;
        margin: 0;
    }

    .up-down .path {
        width: 80px;
        height: 90vh;
        margin: 20px auto;
        border-radius: 10px;
        position: relative;
    }

    .left-right .path {
        height: 80px;
        width: 80%;
        margin: 20px auto;
        border-radius: 10px;
        position: relative;
    }

    .left-right .path .ball {
        position: absolute;
        height: 60px;
        width: 60px;
        top: 10px;
        transform: translateX(-50%);
        left: 50%;
        border-radius: 25%;
    }

    .up-down .path .ball {
        position: absolute;
        height: 60px;
        width: 60px;
        left: 10px;
        transform: translateY(-50%);
        top: 50%;
        border-radius: 25%;
    }
}
