.main-header {
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: 60px;
    background-color: aqua;
}

body {
    margin: 0;
    padding: 0;
}

.main-header h1 {
    width: fit-content;
    margin: auto;
    color: white;
    justify-items: center;
}

.controllers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controller {
    width: 45vw;
    border: 1px solid black;
    height: 70vh;
}

.up-down {
    display: flex;
}

.left-right {
    display: relative;
}

.up-down .path {
    width: 50px;
    height: 510px;
    margin: auto;
    border-radius: 10px;
    border: black 1px solid;
    position: relative;
}

.up-down .path .ball {
    position: absolute;
    height: 40px;
    width: 40px;
    left: 4px;
    transform: translateY(-50%);
    top: 50%;
    border-radius: 25%;
    border: solid 1px black;
}

.left-right .path {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 510px;
    height: 50px;
    margin: auto;
    border-radius: 10px;
    border: black 1px solid;
    position: relative;
}

.left-right .path .ball {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 4px;
    transform: translateX(-50%);
    left: 50%;
    border-radius: 25%;
    border: solid 1px black;
}

.position {
    margin: 10px auto;
    height: 100px;
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    width: 50vw;
    border: 1px solid black;
}
